Repository BHoM/BHoM, changes with the owners that docs/CODEOWNERS names for each.
All owners: @al-fisher, @rwemay, @adecler, @michaldengusiak, @FraserGreenroyd, @pawelbaran, @IsakNaslundBh

Extended properties for Environmental objects
  Environment_oM/Elements/AirHandlingUnit.cs
  Environment_oM/Elements/Building.cs
  Environment_oM/Elements/BuildingElement.cs
  Environment_oM/Elements/Emitter.cs
  Environment_oM/Elements/Opening.cs
  Environment_oM/Environment_oM.csproj
  Environment_oM/Interface/IBuildingObject.cs
  Environment_oM/Properties/BuildingAnalyticalProperties.cs
  Environment_oM/Properties/BuildingElementAnalyticalProperties.cs
  Environment_oM/Properties/BuildingElementMetaProperties.cs
  Environment_oM/Properties/BuildingMetaProperties.cs
  Environment_oM/Properties/BuildingResultsProperties.cs
  Environment_oM/Properties/EnvironmentMetaProperties.cs
  Environment_oM/Properties/IBHoMExtendedProperties.cs
  Environment_oM/Properties/SpaceAnalyticalProperties.cs
Owners: @michaldengusiak, @FraserGreenroyd

Remove IBuilding interface following feedback
  Environment_oM/Environment_oM.csproj
  Environment_oM/Interface/IBuilding.cs
  Environment_oM/Properties/SpaceAnalyticalProperties.cs
Owners: @michaldengusiak, @FraserGreenroyd

Change Meta to Context properties
  Environment_oM/Environment_oM.csproj
  Environment_oM/Properties/BuildingContextProperties.cs
  Environment_oM/Properties/BuildingElementContextProperties.cs
  Environment_oM/Properties/EnvironmentContextProperties.cs
Owners: @michaldengusiak, @FraserGreenroyd

Add ElementProperties to allow constructions to be stored on other elements - need to deprecate buildingelementproperties in the future
  Environment_oM/Environment_oM.csproj
  Environment_oM/Properties/ElementProperties.cs
Owners: @michaldengusiak, @FraserGreenroyd

Deprecating tag on BuildingElementProperties property of BuildingElement
  Environment_oM/Elements/BuildingElement.cs
Owners: @michaldengusiak, @FraserGreenroyd

Revert Deprecated added to BuildingElementProperties
  Environment_oM/Elements/BuildingElement.cs
Owners: @michaldengusiak, @FraserGreenroyd

Change Meta to Context properties
  Environment_oM/Environment_oM.csproj
  Environment_oM/Properties/BuildingContextProperties.cs
  Environment_oM/Properties/BuildingElementContextProperties.cs
  Environment_oM/Properties/EnvironmentContextProperties.cs
Owners: @michaldengusiak, @FraserGreenroyd

Extended properties for Environmental objects
  Environment_oM/Elements/AirHandlingUnit.cs
  Environment_oM/Elements/Building.cs
  Environment_oM/Elements/BuildingElement.cs
  Environment_oM/Elements/Emitter.cs
  Environment_oM/Elements/Opening.cs
  Environment_oM/Environment_oM.csproj
  Environment_oM/Interface/IBuildingObject.cs
  Environment_oM/Properties/BuildingAnalyticalProperties.cs
  Environment_oM/Properties/BuildingElementAnalyticalProperties.cs
  Environment_oM/Properties/BuildingElementMetaProperties.cs
  Environment_oM/Properties/BuildingMetaProperties.cs
  Environment_oM/Properties/BuildingResultsProperties.cs
  Environment_oM/Properties/EnvironmentMetaProperties.cs
  Environment_oM/Properties/IBHoMExtendedProperties.cs
  Environment_oM/Properties/SpaceAnalyticalProperties.cs
Owners: @michaldengusiak, @FraserGreenroyd

Deprecating tag on BuildingElementProperties property of BuildingElement
  Environment_oM/Elements/BuildingElement.cs
Owners: @michaldengusiak, @FraserGreenroyd

Revert Deprecated added to BuildingElementProperties
  Environment_oM/Elements/BuildingElement.cs
Owners: @michaldengusiak, @FraserGreenroyd

Remove IBuilding interface following feedback
  Environment_oM/Environment_oM.csproj
  Environment_oM/Interface/IBuilding.cs
  Environment_oM/Properties/SpaceAnalyticalProperties.cs
Owners: @michaldengusiak, @FraserGreenroyd

Add ElementProperties to allow constructions to be stored on other elements - need to deprecate buildingelementproperties in the future
  Environment_oM/Environment_oM.csproj
  Environment_oM/Properties/ElementProperties.cs
Owners: @michaldengusiak, @FraserGreenroyd

Fix #410 - change namespace of extended properties in Environment_oM
  Environment_oM/Interface/IBHoMExtendedProperties.cs
  Environment_oM/Properties/BuildingAnalyticalProperties.cs
  Environment_oM/Properties/BuildingContextProperties.cs
  Environment_oM/Properties/BuildingElementAnalyticalProperties.cs
  Environment_oM/Properties/BuildingElementContextProperties.cs
  Environment_oM/Properties/BuildingResultsProperties.cs
  Environment_oM/Properties/EnvironmentContextProperties.cs
  Environment_oM/Properties/SpaceAnalyticalProperties.cs
Owners: @michaldengusiak, @FraserGreenroyd

Add updated csproj file
  BHoM/BH.oM.1.0.0.nupkg
  Environment_oM/Environment_oM.csproj
  Reflection_oM/Attributes/InputAttribute.cs
Owners: @adecler, @michaldengusiak, @FraserGreenroyd

Revert accidental change to Reflection oM
  Reflection_oM/Attributes/InputAttribute.cs
Owners: @adecler

Remove accidental commit of nuget stuff
  BHoM/BH.oM.1.0.0.nupkg
Owners: @adecler

Add IBuildingObject interface to Space and ExtendedProperties to Space
  Environment_oM/Elements/Space.cs
Owners: @michaldengusiak, @FraserGreenroyd

Spelling fix in BuildingElementAnalyticalProperties - AnltitudeRange -> AltitudeRange
  Environment_oM/Properties/BuildingElementAnalyticalProperties.cs
Owners: @michaldengusiak, @FraserGreenroyd

Move FamilyName to better set of properties
  Environment_oM/Properties/BuildingElementContextProperties.cs
  Environment_oM/Properties/EnvironmentContextProperties.cs
Owners: @michaldengusiak, @FraserGreenroyd

FamilyName -> TypeName
  Environment_oM/Properties/EnvironmentContextProperties.cs
Owners: @michaldengusiak, @FraserGreenroyd

Add Frame Properties
  Environment_oM/Environment_oM.csproj
  Environment_oM/Properties/FrameProperties.cs
Owners: @michaldengusiak, @FraserGreenroyd

Add Space Context Properties
  Environment_oM/Environment_oM.csproj
  Environment_oM/Properties/SpaceContextProperties.cs
Owners: @michaldengusiak, @FraserGreenroyd

Change double to int
  Environment_oM/Properties/SpaceAnalyticalProperties.cs
Owners: @michaldengusiak, @FraserGreenroyd

Remove RadiantProportion
  Environment_oM/Properties/SpaceAnalyticalProperties.cs
Owners: @michaldengusiak, @FraserGreenroyd

Add SizingMethod Enum
  Environment_oM/Enums/Properties/SizingMethod.cs
  Environment_oM/Environment_oM.csproj
Owners: @michaldengusiak, @FraserGreenroyd

Update variable name
  Environment_oM/Properties/SpaceAnalyticalProperties.cs
Owners: @michaldengusiak, @FraserGreenroyd

Fix #338 - update BuildingElementTypeEnum
  Environment_oM/Enums/Elements/BuildingElementType.cs
Owners: @michaldengusiak, @FraserGreenroyd

docs/CODEOWNERS:

# BHoM REPO CODEOWNERS

# default global
* @al-fisher @rwemay @adecler


# project owners 

#NEED OWNER: /Acoustic_oM
#NEED OWNER: /Architecture_oM
/BHoM @adecler
/BHoM_Test @adecler
/Common_oM @al-fisher @rwemay
/DataManipulation_oM @adecler
/DataStructure_oM @adecler
/Environment_oM @michaldengusiak @FraserGreenroyd
/Geometry_oM @pawelbaran
#NEED OWNER: /Graphics_oM
/Humans_oM @al-fisher
/Planning_oM @rwemay
/Reflection_oM @adecler
/Structure_oM @IsakNaslundBh
